.login-page {
	display: flex;
	align-items: center;
	justify-content: center;
}
.login-page input[disabled] {
	background-color: rgba(128,128,128,0.25);
}
.login-page .post {
	width: 100%;
	padding-right: 5em;
}
.login-page .testers {
	display: block;
	border: 1px solid gray;
	margin: 1em;
	padding: 2em;
	font-weight: bold;
}
.login-page .testers code {
	display: inline-block;
	font-weight: normal;
	border: 1px solid gray;
	padding: 2px 4px;
	margin: 0px 2px;
}

