article fieldset.flex {
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: 0.5em;
	margin: 0 auto;
}
article fieldset.flex select {
	padding: 0.25em 2em;
	width: 14em;
}
article fieldset.grid {
	margin: 1em 0;
	display: grid;
	grid-template-columns: 10em 1fr;
	grid-gap: 0.5em;
	border-radius: 0.5em
}
article fieldset.grid select {
	padding: 0.25em 2em;
	width: 12em;
}
article fieldset.grid label {
	text-align: right;
	padding-top: 0.25em;
}
article fieldset.grid input {
	min-height: 1.5em;
}
article fieldset>fieldset:first-of-type {
	padding-bottom: 2.5em;
	margin-bottom: 0;
}
article fieldset input[disabled] {
	background-color: rgba(128,128,128,0.25);
}
article fieldset.flex #backtodash {
	position: absolute;
	right: 1em;
	top: 0.5em;
	font-size: 0.9rem;
	display: none;
}
article form button {
	padding: 0.25em 2em;
	margin: 0 2px;
}
article form button#delete-user {
	float: left;
	display: none;
}
article form button#update-user {
	min-width: 10em;
}
article form button#closebutton {
	min-width: 8.5em;
	margin: 1em;
}
article form {
	width: 52%;
	margin: 0 auto;
	text-align: end;
}
